@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./components/navbar.css";
@import "./components/homepage.css";
@import "./components/header.css";
@import "./components/history.css";
@import "./components/quality.css";
@import "./components/cheff.css";
@import "./components/footer.css";
